.hero {
    height: 85%;
}

.hero:after {
    right: -100px;
}

body {
    background: #27282e;
    font-family: 'Open Sans',Helvetica, Arial, sans-serif;
}

.hero__navigation {
    color: rgba(255, 255, 255, 0.5)
}

.appointmentnow-minutes {
    padding-top: 0;
    font-size: 35px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 30px;
}

.footer-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 10%;
    margin-top: -1%;
}

.date {
    font-weight: 900;
    font-size: 26px;
    opacity: 0.5;
    padding-top: 30px;
    color: white;
}

.upcomming {
    font-size: 20px;
}

.upcomming-events {
    padding-top: 40px;
}

.appointment-info {
    font-size: 35px;
}