/**
 * 1.0 - Normalize
 *
 * Normalizing styles have been helped along thanks to the fine work of
 * Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
 */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,800|Asap:400,400i");
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; }

html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%; }

body {
	margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block; }

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline; }

audio:not([controls]) {
	display: none;
	height: 0; }

[hidden],
template {
	display: none; }

a {
	background-color: transparent; }

abbr[title] {
	border-bottom: 1px dotted; }

b,
strong {
	font-weight: 700; }

small {
	font-size: 80%; }

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline; }

sup {
	top: -0.5em; }

sub {
	bottom: -0.25em; }

img {
	border: 0; }

svg:not(:root) {
	overflow: hidden; }

figure {
	margin: 0; }

hr {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box; }

code,
kbd,
pre,
samp {
	font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0; }

select {
	text-transform: none; }

button {
	overflow: visible; }

button,
input,
select,
textarea {
	max-width: 100%; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer; }

button[disabled],
html input[disabled] {
	cursor: default;
	opacity: .5; }

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0; }

input[type="checkbox"],
input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-right: 0.4375em;
	padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto; }

input[type="search"] {
	-webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none; }

fieldset {
	border: 1px solid #d1d1d1;
	margin: 0 0 1.75em;
	min-width: inherit;
	padding: 0.875em; }

fieldset > :last-child {
	margin-bottom: 0; }

legend {
	border: 0;
	padding: 0; }

textarea {
	overflow: auto;
	vertical-align: top; }

optgroup {
	font-weight: bold; }

body {
	background: #f2f2f2;
	color: #27282e;
	font-family: 'Open Sans',Helvetica, Arial, sans-serif;
	text-rendering: optimizeLegibility;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased; }

a {
	color: #498abb; }

body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: 400; }

h1, h2, h3, h4, h5, h6, h7 {
	margin: 0;
	padding: 0; }

h1 {
	color: white;
	font-size: 70px;
	font-weight: 800;
	line-height: 1; }

h2 {
	color: #e6007e;
	font-size: 30px;
	font-weight: 800; }

h3 {
	color: #e6007e;
	font-size: 30px;
	font-weight: 800; }

h4 {
	color: #e6007e;
	font-size: 18px;
	font-weight: 700;
	margin-top: 40px; }

p {
	line-height: 34px; }

blockquote {
	border-left: 4px solid #e6007e;
	margin-left: 0;
	padding-left: 25px; }

strong {
	color: #e6007e;
	font-weight: 500; }

em {
	color: #e6007e;
	font-size: 14px;
	font-style: italic; }

.button, .form input[type="submit"] {
	border: 0;
	border-radius: 4px;
	display: inline-block;
	font-size: 16px;
	font-weight: 800;
	line-height: 1;
	padding: 20px;
	text-decoration: none;
	-webkit-transition: background 150ms ease-in-out;
	transition: background 150ms ease-in-out; }
.button--primary, .form input[type="submit"] {
	background: #e6007e;
	color: white; }
.button--primary:hover, .form input[type="submit"]:hover {
	background: #cd0070; }
.button--secondary {
	background: #f2f2f2;
	color: #e6007e; }
.button--secondary:hover {
	background: #e5e5e5; }

.page__hero {
	margin-bottom: 50px; }

.page__banner, .page__full-width {
	margin: 50px 0; }

.page__content {
	margin: 0 auto;
	max-width: 1230px;
	padding: 0 25px;
	width: 100%; }
.page__content--center {
	text-align: center; }
.page__content--last {
	margin-bottom: 50px; }
.page__content--float-left, .page__content--float-right {
	overflow: hidden; }
.page__content--full-width {
	max-width: inherit;
	padding: 0;
	margin-bottom: 50px; }

.page__image-left {
	float: left;
	max-width: 100%;
	margin: 1em 1em 0 0; }

.page__image-right {
	float: right;
	max-width: 100%;
	margin: 1em 0 0 1em; }

.page__bottom {
	margin-top: 80px; }
.page__bottom--skewed-top {
	margin-top: -30px; }

.page__image {
	margin: 50px auto;
	max-width: 1380px;
	padding: 0 15px; }

.page__columns {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center; }

.page__column {
	padding: 25px; }

@media screen and (max-width: 799px) {
	.page__image-left {
		float: none;
		margin: 0 auto;
		display: block; }
	.page__image-right {
		float: none;
		margin: 0 auto;
		display: block; } }

@media screen and (min-width: 800px) {
	.page__content {
		padding: 0 75px; }
	.page__content--full-width {
		padding: 0; } }

@media screen and (min-width: 1400px) {
	.page__content {
		padding: 0 15px; }
	.page__content--full-width {
		padding: 0; } }

.navigation {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	font-size: 16px;
	height: 100px;
	list-style: none;
	margin: 0;
	padding: 0; }
.navigation__link {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	color: #27282e;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 100px;
	padding: 0 20px;
	position: relative;
	text-decoration: none; }
.navigation__link:hover {
	color: #e6007e; }
.navigation__link:after {
	bottom: 0;
	content: "";
	display: block;
	height: 5px;
	left: 20px;
	position: absolute;
	width: -webkit-calc(100% - 40px);
	width: calc(100% - 40px); }
.navigation__link:hover:after {
	background: #dddcdc; }
.navigation__link--active {
	color: #e6007e;
	font-weight: 700; }
.navigation__link--active:after, .navigation__link--active:hover:after {
	background: #e6007e; }

.footer-navigation {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	font-size: 16px;
	list-style: none;
	margin: 5px 0 35px;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center; }
.footer-navigation__title {
	color: white;
	font-weight: 700; }
.footer-navigation__link {
	color: white;
	padding: 12px;
	position: relative;
	text-decoration: none; }
.footer-navigation__link--active:after, .footer-navigation__link:hover:after {
	background: rgba(255, 255, 255, 0.4);
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	margin-left: 12px;
	position: absolute;
	width: -webkit-calc(100% - 24px);
	width: calc(100% - 24px); }

@media screen and (max-width: 450px) {
	.footer-navigation {
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		padding: 0; }
	.footer-navigation__title {
		margin-bottom: 20px;
		width: 100%; } }

@media screen and (max-width: 969px) {
	.footer-navigation {
		padding: 0; } }

@media screen and (min-width: 970px) {
	.footer-navigation {
		margin: 5px 0; }
	.footer-navigation__title {
		padding-right: 38px; }
	.footer-navigation__item {
		margin-right: 26px; } }

.hero {
	-webkit-background-size: cover;
	background-size: cover;
	height: -webkit-calc(100vh - (75px + 35px));
	height: calc(100vh - (75px + 35px));
	overflow: hidden;
	position: relative; }
.hero:after {
	background: url("https://design.cream.nl/latest/public/images/hero-bottom.svg");
	bottom: -1px;
	content: "";
	display: block;
	height: 246px;
	pointer-events: none;
	position: absolute;
	right: -150px;
	width: 2136px; }
.hero__content {
	background: rgba(230, 0, 126, 0.75);
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 25px 15px;
	text-align: center;
	width: 100%; }
.hero--darkgrey .hero__content {
	background: rgba(39, 40, 46, 0.82); }
.hero__logo {
	-webkit-align-self: flex-start;
	-ms-flex-item-align: start;
	align-self: flex-start;
	margin: 0 auto;
	max-height: 120px;
	max-width: 120px; }
.hero__title {
	color: white;
	font-size: 41px;
	font-weight: 700;
	line-height: 1; }
.hero__paragraph {
	color: white;
	margin: 10px 0; }
.hero__meta {
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase; }
.hero__meta a {
	color: white;
	text-decoration: none; }
.hero__meta a:hover {
	text-decoration: underline; }
.hero__meta-item {
	border-right: 1px solid white;
	padding: 0 20px; }
.hero__meta-item:first-child {
	padding-left: 0; }
.hero__meta-item:last-child {
	border-right: 0;
	padding-right: 0; }
.hero__tags-list {
	display: inline-block;
	margin: 0;
	padding: 0; }
.hero__tags-item {
	display: inline;
	list-style: none; }
.hero__tags-item:after {
	content: ",";
	display: inline; }
.hero__tags-item:last-child:after {
	content: ""; }
.hero__button {
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center; }
.hero__navigation {
	color: #ffa7d7;
	font-size: 30px;
	font-weight: 800;
	line-height: 40px;
	padding-top: 30px; }
.hero__navigation-link {
	color: #ffa7d7;
	display: inline-block;
	-webkit-transition: color 250ms ease-out;
	transition: color 250ms ease-out;
	margin-bottom: 10px;
	position: relative;
	text-decoration: none; }
.hero__navigation-link:after {
	background: #ffa7d7;
	bottom: -3px;
	content: "";
	display: block;
	height: 5px;
	margin-left: 4px;
	position: absolute;
	-webkit-transition: background 250ms ease-out;
	transition: background 250ms ease-out;
	width: -webkit-calc(100% - 8px);
	width: calc(100% - 8px); }
.hero__navigation-link:hover {
	color: white; }
.hero__navigation-link:hover:after {
	background: white; }
.hero--banner {
	min-height: -webkit-calc(100vh - 75px);
	min-height: calc(100vh - 75px);
	height: auto; }
.hero--banner:before {
	background: url("https://design.cream.nl/latest/public/images/hero-top.svg");
	content: "";
	display: block;
	height: 80px;
	left: -50px;
	position: absolute;
	top: -1px;
	width: 2441px;
	z-index: 1; }
.hero--banner .hero__content {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding-top: 70px; }
.hero--banner .hero__paragraph {
	margin-bottom: 20px; }
.hero--home {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center; }
.hero--home:after {
	background: url("https://design.cream.nl/latest/public/images/hero-bottom-dark.svg"); }
.hero--home .hero__content {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-clip-path: inherit;
	clip-path: inherit;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 50px 25px;
	text-align: center;
	width: 100%; }
.hero--reversed:before {
	left: inherit;
	right: -50px;
	-webkit-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	transform: scaleX(-1); }
.hero--reversed:after {
	left: -150px;
	right: inherit;
	-webkit-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	transform: scaleX(-1); }
.hero--portfolio .hero__button {
	background: transparent;
	border: 5px solid white;
	color: white;
	-webkit-transition: background 150ms ease-in-out, color 150ms ease-in-out;
	transition: background 150ms ease-in-out, color 150ms ease-in-out; }
.hero--portfolio .hero__button:hover {
	background-color: white;
	color: #e6007e; }
.hero--portfolio .hero__title {
	margin: 25px 0; }

@media screen and (min-width: 800px) {
	.hero {
		height: -webkit-calc(100vh - (100px + 50px));
		height: calc(100vh - (100px + 50px)); }
	.hero:after {
		right: 0; }
	.hero__content {
		-webkit-box-pack: end;
		-webkit-justify-content: flex-end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		padding: 100px 20% 125px 100px;
		position: absolute;
		text-align: left; }
	.hero__title {
		font-size: 70px; }
	.hero__navigation {
		font-size: 60px;
		line-height: 60px; }
	.hero__logo {
		margin: 0; }
	.hero__paragraph {
		margin: 20px 0; }
	.hero__button {
		-webkit-align-self: flex-start;
		-ms-flex-item-align: start;
		align-self: flex-start; }
	.hero--home .hero__content {
		padding: 25px; }
	.hero--banner:before {
		left: 0; }
	.hero--banner .hero__content {
		padding: 0 40% 0 100px; }
	.hero--reversed:before {
		left: auto;
		right: 0; }
	.hero--reversed:after {
		left: 0; }
	.hero--reversed .hero__content {
		padding: 0 100px 0 40%;
		right: 0;
		text-align: right; }
	.hero--reversed .hero__button {
		-webkit-align-self: flex-end;
		-ms-flex-item-align: end;
		align-self: flex-end; }
	@supports (clip-path: polygon(0% 0%)) or (-webkit-clip-path: polygon(0% 0%)) {
		.hero__content {
			-webkit-clip-path: polygon(0% 0%, 50% 0%, 100% 100%, 0% 100%);
			clip-path: polygon(0% 0%, 70% 0%, 130% 100%, 0% 100%); }
		.hero--reversed .hero__content {
			-webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 50% 0%);
			clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 50% 0%); } } }

@media screen and (min-width: 800px) and (max-height: 800px) {
	.hero__title {
		font-size: 42px; } }

@media screen and (min-width: 1000px) {
	.hero__content {
		padding: 100px 40% 125px 100px; }
	@supports (clip-path: polygon(0% 0%)) or (-webkit-clip-path: polygon(0% 0%)) {
		.hero__content {
			-webkit-clip-path: polygon(0% 0%, 50% 0%, 100% 100%, 0% 100%);
			clip-path: polygon(0% 0%, 50% 0%, 100% 100%, 0% 100%);
			width: -webkit-calc(100% - 120px);
			width: calc(100% - 120px); } } }

@media screen and (min-width: 1300px) {
	.hero__content {
		padding-right: 50%; } }

.social {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center; }
.social__item {
	margin-right: 20px;
	text-decoration: none; }
.social__item:last-child {
	margin-right: 0; }
.social__icon {
	fill: rgba(255, 255, 255, 0.2); }
.social__item:hover .social__icon {
	fill: rgba(255, 255, 255, 0.6); }
.social__label {
	display: none; }

.logo--flat {
	fill: rgba(255, 255, 255, 0.4); }

.author {
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	-webkit-background-size: cover;
	background-size: cover;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 40px 10% 20px;
	position: relative; }
.author__content {
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-ordinal-group: 3;
	-webkit-order: 2;
	-ms-flex-order: 2;
	order: 2; }
.author__title {
	font-size: 30px;
	margin-top: 20px; }
.author__paragraph {
	font-size: 15px; }
.author__avatar {
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-ordinal-group: 2;
	-webkit-order: 1;
	-ms-flex-order: 1;
	order: 1; }
.author__avatar--round {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center; }
.author__avatar--round img {
	border-radius: 50%; }

@media screen and (min-width: 800px) {
	.author {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		padding: 20px 10%; }
	.author__content {
		-webkit-box-ordinal-group: 2;
		-webkit-order: 1;
		-ms-flex-order: 1;
		order: 1; }
	.author__title {
		margin-top: 40px; }
	.author__avatar {
		-webkit-box-ordinal-group: 3;
		-webkit-order: 2;
		-ms-flex-order: 2;
		order: 2; } }

.related-post {
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	-webkit-background-size: cover;
	background-size: cover;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	position: relative; }
.related-post__content {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	min-height: 100%;
	padding: 20px 10%;
	text-align: center;
	width: 100%; }
.related-post__title {
	color: white;
	font-size: 30px;
	padding: 25px 0 35px; }
.related-post__meta {
	font-size: 14px;
	font-weight: 800;
	text-transform: uppercase; }

.portfolio-item {
	-webkit-background-size: cover;
	background-size: cover;
	display: block;
	height: 100%;
	position: relative;
	width: 100%; }
.portfolio-item__logo-wrapper, .portfolio-item__button-wrapper {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	left: 0;
	position: absolute;
	top: 0;
	-webkit-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
	width: 100%; }
.portfolio-item__logo-wrapper {
	background: rgba(0, 0, 0, 0.5);
	color: white; }
.portfolio-item__logo {
	text-align: center; }
.portfolio-item__logo-image {
	max-width: 90%; }
.portfolio-item__button-wrapper {
	opacity: 0; }
.portfolio-item:hover .portfolio-item__logo-wrapper {
	opacity: 0;
	-webkit-transition: opacity 300ms ease-in;
	transition: opacity 300ms ease-in; }
.portfolio-item:hover .portfolio-item__button-wrapper {
	opacity: 1;
	-webkit-transition: opacity 300ms ease-in;
	transition: opacity 300ms ease-in; }

.navigation-overlay {
	display: none; }

@media screen and (max-width: 799px) {
	.navigation-overlay {
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		background: rgba(230, 0, 126, 0.85);
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		height: -webkit-calc(100vh - 67px);
		height: calc(100vh - 67px);
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		opacity: 0;
		pointer-events: none;
		position: absolute;
		top: 75px;
		-webkit-transition: opacity 400ms ease-out;
		transition: opacity 400ms ease-out;
		width: 100%;
		z-index: 1; }
	.navigation-overlay__navigation {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;
		-webkit-transform: scale(0.8) translateY(-100px);
		-ms-transform: scale(0.8) translateY(-100px);
		transform: scale(0.8) translateY(-100px);
		-webkit-transition: -webkit-transform 400ms ease-out;
		transition: transform 400ms ease-out;
		width: 60%; }
	.navigation-overlay__navigation-item:after {
		background: white;
		content: "";
		display: block;
		height: 2px;
		margin-left: 10%;
		-webkit-transition: -webkit-transform 400ms ease-out;
		transition: transform 400ms ease-out;
		-webkit-transform: scaleX(0);
		-ms-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transform-origin: center;
		-ms-transform-origin: center;
		transform-origin: center;
		width: 80%; }
	.navigation-overlay__navigation-item:last-child:after {
		display: none; }
	.navigation-overlay__navigation-link {
		color: white;
		display: block;
		font-size: 24px;
		font-weight: 700;
		padding: 15px 0;
		text-decoration: none;
		text-transform: uppercase; }
	.navigation-overlay__navigation-link--active, .navigation-overlay__navigation-link:hover {
		color: white; }
	body.navigation-overlay-is-open {
		overflow: hidden; }
	body.navigation-overlay-is-open .navigation-overlay {
		opacity: 1;
		pointer-events: inherit; }
	body.navigation-overlay-is-open .navigation-overlay__navigation {
		-webkit-transform: scale(1) translateY(0);
		-ms-transform: scale(1) translateY(0);
		transform: scale(1) translateY(0); }
	body.navigation-overlay-is-open .navigation-overlay__navigation-item:after {
		-webkit-transform: scaleX(1);
		-ms-transform: scaleX(1);
		transform: scaleX(1); } }

.action {
	cursor: pointer;
	padding: 10px; }
.action__line {
	background: #27282e;
	height: 2px;
	position: relative;
	-webkit-transition: -webkit-transform 400ms ease-out;
	transition: transform 400ms ease-out;
	width: 26px; }
.action__line:nth-child(2) {
	margin-top: 7px;
	-webkit-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center; }
.action__line:nth-child(3) {
	margin-top: 7px; }

.navigation-overlay-is-open .action {
	-webkit-transition: -webkit-transform 400ms ease-out;
	transition: transform 400ms ease-out;
	-webkit-transform: translateX(5px);
	-ms-transform: translateX(5px);
	transform: translateX(5px); }
.navigation-overlay-is-open .action__line:nth-child(1) {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: left top;
	-ms-transform-origin: left top;
	transform-origin: left top; }
.navigation-overlay-is-open .action__line:nth-child(2) {
	-webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	transform: scaleX(0); }
.navigation-overlay-is-open .action__line:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: left bottom;
	-ms-transform-origin: left bottom;
	transform-origin: left bottom; }

.portfolio-summary {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	overflow-x: hidden;
	position: relative;
	text-align: center;
	width: 100%; }
.portfolio-summary__image {
	max-width: 120%;
	position: relative;
	z-index: 1; }
.portfolio-summary__block {
	background: #e6007e;
	-webkit-clip-path: polygon(0% 0%, 100% 2.8vw, 100% 100%, 0% -webkit-calc(100% - 2.8vw));
	clip-path: polygon(0% 0%, 100% 2.8vw, 100% 100%, 0% calc(100% - 2.8vw));
	padding-top: 100px;
	position: relative;
	margin-top: -100px;
	min-height: 200px;
	width: 100%; }
.portfolio-summary__title {
	color: white;
	font-size: 34px;
	padding: 0 15px; }
.portfolio-summary__list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	list-style: none;
	padding: 50px 15px; }
.portfolio-summary__item {
	color: white;
	font-size: 16px;
	font-weight: 800;
	padding: 0 10px;
	text-align: center; }
.portfolio-summary__item-image {
	display: block;
	margin: 0 auto;
	max-width: 100px; }
.portfolio-summary__item-label {
	display: inline-block;
	margin: 10px 0; }

@media screen and (min-width: 800px) {
	.portfolio-summary {
		z-index: 1; } }

.image {
	text-align: center; }
.image__image {
	max-width: 100%; }
.image__label {
	font-size: 14px;
	font-style: italic;
	text-align: center; }

.article {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column; }
.article__image-link, .article__content-link {
	display: block;
	position: relative;
	text-decoration: none;
	width: 100%; }
.article__image-link {
	background-color: #dddcdc;
	background-position: 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
	padding-top: 100%;
	height: 200px; }
.article__content-link {
	background: -webkit-linear-gradient(315deg, #e1e1e1 0%, #f2f2f2 100%);
	background: linear-gradient(135deg, #e1e1e1 0%, #f2f2f2 100%);
	display: block;
	-webkit-box-flex: 1;
	-webkit-flex: 1 auto;
	-ms-flex: 1 auto;
	flex: 1 auto;
	margin-top: -2.8vw;
	padding: 50px 30px 60px; }
.article__title {
	font-size: 20px; }
.article__paragraph {
	color: #27282e;
	font-size: 14px; }
.article__read-more {
	font-size: 14px;
	font-weight: 800;
	position: relative; }
.article:hover .article__title {
	color: #27282e; }
.article:hover .article__read-more {
	color: #e6007e; }
.article:hover .article__read-more:after {
	background: #e6007e;
	content: "";
	display: block;
	height: 2px;
	position: absolute;
	bottom: -5px;
	width: 100%; }

@supports (clip-path: polygon(0% 0%)) or (-webkit-clip-path: polygon(0% 0%)) {
	.article {
		margin-top: -2.8vw; }
	.article__image-link, .article__content-link {
		-webkit-clip-path: polygon(0% 0%, 100% 2.8vw, 100% 100%, 0% -webkit-calc(100% - 2.8vw));
		clip-path: polygon(0% 0%, 100% 2.8vw, 100% 100%, 0% calc(100% - 2.8vw)); } }

@media screen and (min-width: 630px) {
	@supports (clip-path: polygon(0% 0%)) or (-webkit-clip-path: polygon(0% 0%)) {
		.article__image-link, .article__content-link {
			-webkit-clip-path: polygon(0% 0%, 100% -webkit-calc(2.8vw / 2), 100% 100%, 0% -webkit-calc(100% - (2.8vw / 2)));
			clip-path: polygon(0% 0%, 100% calc(2.8vw / 2), 100% 100%, 0% calc(100% - (2.8vw / 2))); }
		.article:nth-child(3n+1) .article__image-link,
		.article:nth-child(3n+1) .article__content-link {
			top: -2.8vw; }
		.article:nth-child(3n+2) .article__image-link,
		.article:nth-child(3n+2) .article__content-link {
			top: -webkit-calc(-2.8vw / 2);
			top: calc(-2.8vw / 2); } } }

@media screen and (min-width: 700px) {
	.article__content-link {
		padding: 60px 60px 100px; } }

@media screen and (min-width: 1000px) {
	@supports (clip-path: polygon(0% 0%)) or (-webkit-clip-path: polygon(0% 0%)) {
		.article__image-link, .article__content-link {
			-webkit-clip-path: polygon(0% 0%, 100% -webkit-calc(2.8vw / 3), 100% 100%, 0% -webkit-calc(100% - (2.8vw / 3)));
			clip-path: polygon(0% 0%, 100% calc(2.8vw / 3), 100% 100%, 0% calc(100% - (2.8vw / 3))); }
		.article:nth-child(3n+1) .article__image-link,
		.article:nth-child(3n+1) .article__content-link {
			top: -2.8vw; }
		.article:nth-child(3n+2) .article__image-link,
		.article:nth-child(3n+2) .article__content-link {
			top: -webkit-calc(-2.8vw / 1.5);
			top: calc(-2.8vw / 1.5); }
		.article:nth-child(3n+3) .article__image-link,
		.article:nth-child(3n+3) .article__content-link {
			top: -webkit-calc(-2.8vw / 3);
			top: calc(-2.8vw / 3); } } }

@media screen and (min-width: 1400px) {
	@supports (clip-path: polygon(0% 0%)) or (-webkit-clip-path: polygon(0% 0%)) {
		.article__image-link, .article__content-link {
			-webkit-clip-path: polygon(0% 0%, 100% -webkit-calc(2.8vw / 4), 100% 100%, 0% -webkit-calc(100% - (2.8vw / 4)));
			clip-path: polygon(0% 0%, 100% calc(2.8vw / 4), 100% 100%, 0% calc(100% - (2.8vw / 4))); }
		.article:nth-child(3n+1) .article__image-link,
		.article:nth-child(3n+1) .article__content-link {
			top: -2.8vw; }
		.article:nth-child(3n+2) .article__image-link,
		.article:nth-child(3n+2) .article__content-link {
			top: -webkit-calc(-2.8vw / 1.35);
			top: calc(-2.8vw / 1.35); }
		.article:nth-child(3n+3) .article__image-link,
		.article:nth-child(3n+3) .article__content-link {
			top: -webkit-calc(-2.8vw / 2);
			top: calc(-2.8vw / 2); }
		.article:nth-child(3n+4) .article__image-link,
		.article:nth-child(3n+4) .article__content-link {
			top: -webkit-calc(-2.8vw / 4);
			top: calc(-2.8vw / 4); } } }

.people {
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex; }
.people__image {
	background: #dddcdc;
	border-radius: 50%;
	height: 75px;
	min-width: 75px;
	overflow: hidden;
	width: 75px; }
.people__info {
	padding-left: 25px; }
.people__info-item {
	display: block; }
.people__function {
	font-size: 16px;
	font-weight: 800; }
.people__name {
	color: #e6007e;
	font-size: 27px;
	font-weight: 800;
	line-height: 1;
	padding: 0 0 6px; }
.people__info-link {
	color: #27282e;
	display: inline-block;
	font-weight: 700;
	position: relative;
	text-decoration: none; }
.people__info-link:hover {
	color: #e6007e; }
.people__info-link:hover:after {
	background: #e6007e;
	bottom: -5px;
	content: "";
	display: block;
	height: 3px;
	position: absolute;
	width: 100%; }

@media screen and (min-width: 460px) {
	.people {
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center; }
	.people__image {
		height: 128px;
		min-width: 128px;
		width: 128px; } }

.map {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #dddcdc;
	-webkit-background-size: cover;
	background-size: cover;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 25px 0; }
.map__block {
	background: white;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	margin: 20px;
	max-width: 500px;
	padding: 20px;
	width: -webkit-calc(100% - 20px);
	width: calc(100% - 20px); }
.map__block-item {
	border: 5px solid #e6007e;
	padding: 35px;
	text-align: center; }
.map__block-item:not(:first-child) {
	border-top: 0; }
.map__title {
	margin-top: 0; }
.map__paragraph, .map__info {
	font-size: 15px; }
.map__paragraph--dense {
	line-height: 29px; }
.map__info-link {
	color: #e6007e;
	font-weight: 700;
	position: relative;
	text-decoration: none; }
.map__info-link:hover:after {
	background: #e6007e;
	bottom: -5px;
	content: "";
	display: block;
	height: 3px;
	left: 0;
	position: absolute;
	width: 100%; }

@media screen and (min-width: 800px) {
	.map {
		height: 100vh;
		padding: inherit; } }

.logos__title {
	color: #27282e;
	padding-bottom: 25px;
	text-align: center; }

.logos__list {
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0; }

.logos__logo {
	border-bottom: 1px solid #dcdcdc;
	overflow: hidden; }
.logos__logo:last-child {
	border: 0; }

.logos__list--3 .logos__logo {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 -webkit-calc(100% / 3);
	-ms-flex: 0 0 calc(100% / 3);
	flex: 0 0 calc(100% / 3); }

.logos__list--4 .logos__logo {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 -webkit-calc(100% / 4);
	-ms-flex: 0 0 calc(100% / 4);
	flex: 0 0 calc(100% / 4); }

.logos__logo-link {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 50px; }

.logos__logo-image {
	max-height: 100px;
	max-width: 100%;
	opacity: 0.4; }

.logos__logo-link:hover .logos__logo-image {
	opacity: 1;
	-webkit-transition: opacity 400ms ease-out;
	transition: opacity 400ms ease-out; }

@media screen and (min-width: 800px) {
	.logos__title {
		margin-bottom: 50px; }
	.logos__list {
		-webkit-box-align: stretch;
		-webkit-align-items: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row; }
	.logos__logo {
		border-bottom: 0;
		border-right: 1px solid #dcdcdc; }
	.logos__logo-link {
		padding: 25px; } }

@media screen and (min-width: 1000px) {
	.logos__logo-link {
		padding: 50px; } }

.header {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background: white;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 75px;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between; }
.header__logo {
	padding: 10px 0 10px 20px; }
.header__actions {
	padding-right: 20px; }
.header__navigation {
	display: none; }

@media screen and (min-width: 800px) {
	.header {
		height: 100px; }
	.header__logo {
		padding: 0 0 0 20px; }
	.header__actions {
		display: none; }
	.header__navigation {
		display: block; } }

.footer {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background: #27282e;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 80px 15px;
	text-align: center; }
.footer__navigation {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%; }
.footer__block {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-top: 60px; }
.footer__block-title {
	color: rgba(255, 255, 255, 0.4);
	font-weight: 700; }
.footer__block-paragraph {
	color: rgba(255, 255, 255, 0.4);
	margin: 0; }
.footer__logo {
	margin-bottom: 30px; }
.footer__social {
	margin-top: 25px; }
.footer__contact-link {
	color: rgba(255, 255, 255, 0.4);
	text-decoration: none;
	border-bottom: 2px solid rgba(255, 255, 255, 0.4); }

@media screen and (min-width: 970px) {
	.footer {
		padding: 180px 15px; }
	.footer__navigation {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row; }
	.footer__navigation-item {
		border-left: 1px solid white;
		width: 50%; }
	.footer__navigation-item:first-child {
		border-left: 0; }
	.footer__navigation-item:first-child .footer-navigation {
		-webkit-box-pack: end;
		-webkit-justify-content: flex-end;
		-ms-flex-pack: end;
		justify-content: flex-end; }
	.footer__navigation-item:last-child .footer-navigation {
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start; } }

.info-blocks {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 450px; }
.info-blocks__block--author {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	min-height: 50vw; }
.info-blocks__block--portfolio-item {
	height: 50vw; }

@media screen and (min-width: 850px) {
	.info-blocks {
		-webkit-box-align: stretch;
		-webkit-align-items: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		min-height: 450px; }
	.info-blocks--two-columns .info-blocks__block {
		width: 50%; }
	.info-blocks--three-columns .info-blocks__block {
		width: -webkit-calc(100% / 3);
		width: calc(100% / 3); }
	.info-blocks__block--author {
		min-height: inherit; }
	.info-blocks__block--portfolio-item {
		height: inherit; } }

.grid {
	-webkit-clip-path: polygon(0% 0%, 100% 2.8vw, 100% 100%, 0% -webkit-calc(100% - 2.8vw));
	clip-path: polygon(0% 0%, 100% 2.8vw, 100% 100%, 0% calc(100% - 2.8vw));
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	height: 300vw;
	overflow: hidden;
	position: relative; }
.grid__item {
	display: block;
	height: 50vw;
	overflow: hidden;
	position: relative;
	width: 50%; }
.grid__item:nth-child(even) {
	background-color: white; }

@media screen and (min-width: 800px) {
	.grid {
		height: 150vw; }
	.grid__item {
		position: absolute; }
	.grid__item:nth-child(1), .grid__item:nth-child(11), .grid__item:nth-child(13) {
		height: 50vw;
		width: 50%; }
	.grid__item:nth-child(2), .grid__item:nth-child(3), .grid__item:nth-child(9), .grid__item:nth-child(10), .grid__item:nth-child(14), .grid__item:nth-child(15) {
		height: 25vw;
		width: 25%; }
	.grid__item:nth-child(4), .grid__item:nth-child(6), .grid__item:nth-child(7), .grid__item:nth-child(8), .grid__item:nth-child(12) {
		height: 50vw;
		width: 25%; }
	.grid__item:nth-child(5), .grid__item:nth-child(16) {
		height: 25vw;
		width: 50%; }
	.grid__item:nth-child(1) {
		left: 0;
		top: 0; }
	.grid__item:nth-child(2) {
		left: 50%;
		top: 0; }
	.grid__item:nth-child(3) {
		left: 50%;
		top: 25vw; }
	.grid__item:nth-child(4) {
		left: 75%;
		top: 0; }
	.grid__item:nth-child(5) {
		left: 0;
		top: 50vw; }
	.grid__item:nth-child(6) {
		left: 50%;
		top: 50vw; }
	.grid__item:nth-child(7) {
		left: 75%;
		top: 50vw; }
	.grid__item:nth-child(8) {
		left: 0;
		top: 75vw; }
	.grid__item:nth-child(9) {
		left: 25%;
		top: 75vw; }
	.grid__item:nth-child(10) {
		left: 0;
		top: 125vw; }
	.grid__item:nth-child(11) {
		left: 25%;
		top: 100vw; }
	.grid__item:nth-child(12) {
		left: 75%;
		top: 100vw; }
	.grid__item:nth-child(13) {
		left: 0;
		top: 150vw; }
	.grid__item:nth-child(14) {
		left: 50%;
		top: 150vw; }
	.grid__item:nth-child(15) {
		left: 75%;
		top: 150vw; }
	.grid__item:nth-child(16) {
		left: 50%;
		top: 175vw; } }

.articles {
	-webkit-clip-path: polygon(0% 0%, 100% 2.8vw, 100% 100%, 0% 100%);
	clip-path: polygon(0% 0%, 100% 2.8vw, 100% 100%, 0% 100%);
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-top: 2.8vw; }
.articles .article {
	width: 100%; }

@media screen and (min-width: 620px) {
	.articles .article {
		width: -webkit-calc(100% / 2);
		width: calc(100% / 2); } }

@media screen and (min-width: 1000px) {
	.articles .article {
		width: -webkit-calc(100% / 3);
		width: calc(100% / 3); } }

@media screen and (min-width: 1400px) {
	.articles .article {
		width: -webkit-calc(100% / 4);
		width: calc(100% / 4); } }

.form {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	font-size: 16px;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	position: relative;
	/** Specific wpcf7 styling **/ }
.form__block {
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	background: white;
	border: 1px solid #dddcdc;
	border-radius: 4px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-bottom: 30px;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 100%;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%; }
.form__block label {
	color: #e6007e;
	padding: 10px 18px 0 18px; }
.form__block label + span {
	width: 100%; }
.form__block input {
	border: 0;
	height: 40px;
	margin-right: 10px;
	padding: 0 18px;
	width: 100%; }
.form__block input:focus {
	outline: 0; }
.form__block textarea {
	border: 0;
	padding: 10px 10px 17px 18px;
	width: 100%; }
.form__block textarea:focus {
	outline: 0; }
.form p {
	margin: auto; }
.form .wpcf7-not-valid-tip {
	background: #cc0000;
	border-radius: 3px;
	color: #fff;
	display: block;
	font-size: 14px;
	left: 15px;
	padding: 5px 10px;
	position: absolute;
	bottom: -22px; }
.form .wpcf7-not-valid-tip:before {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #cc0000;
	content: "";
	display: block;
	height: 0;
	left: 10px;
	position: absolute;
	top: -5px;
	width: 0; }
.form .wpcf7-validation-errors {
	display: none; }
.form .wpcf7-mail-sent-ok {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background: white;
	border: 0;
	color: #e6007e;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	font-size: 30px;
	font-weight: 800;
	height: 100%;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 0;
	position: absolute;
	width: 100%; }

@media screen and (min-width: 600px) {
	.form__block {
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row; }
	.form__block--subject label {
		-webkit-align-self: flex-start;
		-ms-flex-item-align: start;
		align-self: flex-start;
		margin-top: 19px; }
	.form__block label {
		padding: 0 18px; }
	.form__block label + span {
		-webkit-box-flex: 1;
		-webkit-flex: 1 auto;
		-ms-flex: 1 auto;
		flex: 1 auto;
		width: inherit; }
	.form__block input {
		height: 60px;
		padding: 0; }
	.form__block textarea {
		padding-left: 0;
		padding-top: 17px; } }

@media screen and (min-width: 800px) {
	.form__block--email, .form__block--tel {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 -webkit-calc(50% - 15px);
		-ms-flex: 0 0 calc(50% - 15px);
		flex: 0 0 calc(50% - 15px); }
	.form .wpcf7-not-valid-tip {
		left: 0; } }